<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Android_BigHomework_GmallServer</display-name>
  <context-param>
    <param-name>DriverName</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>DatabaseUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/gmall?characterEncoding=UTF8</param-value>
  </context-param>
  <context-param>
    <param-name>UserName</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>UserPassword</param-name>
    <param-value>422422</param-value>
  </context-param>
</web-app>